* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  line-height: 160%;
  background-color: #B3CAF5;
  color: black;
}

header {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #333333;
  color: whitesmoke;
  border-bottom: medium solid whitesmoke;
  border-top: medium solid whitesmoke;
  background-color: #333333;
  text-align: center;
}

header h1 {
  font-size: 200%;
  padding-bottom: 20px;

}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

ul li {
  text-align: center;
}

.section-2 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 400px;
  margin: auto;
}

.argo-us {
  height: auto;
  max-width: 100%;
  min-width: 200px;
  margin-bottom: 20px;
}

.button {
  color: whitesmoke;
  background-color: rgb(50, 50, 255);
  padding: 5px 10px 5px 10px;
  margin-top: 5px;
  border: thin solid whitesmoke;
  border-radius: 5px;
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #B3CAF5;
  color: black;
}

.section-1 h2 {
  color: black;
  font-size: 180%;
}

.section-1-images {
  padding-top: 20px;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.argo-pics {
  margin-bottom: 20px;
}

img {
  border: medium solid whitesmoke;  
  border-radius: 10px;
}

.thor {
  background-color: #F5B3EB;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: medium solid whitesmoke;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  margin-bottom: 20px;
}

.quote {
  padding-bottom: 20px;
  font-size: 120%;
  text-align: center;
}

.god {
  align-self: flex-end;
  font-weight: 600;
}

footer {
  background-color: #333333;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-bottom: medium solid whitesmoke;
  border-top: medium solid whitesmoke;
}

a:link {
  color: whitesmoke;
  text-decoration: none;
}

a:visited {
  color: whitesmoke;
}

a:hover {
  color: #F5DEB3;
}

